html, body {
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background-color: rgb(75, 41, 2);
    padding: 10px 20px 0px;
}

.menu li {
    list-style: none;
    background: black;
    padding: 0.5rem 0.5rem;
    width: 100%;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: rgb(75, 41, 2);
}

.header {
    background-color: rgb(75, 41, 2);
}

.img-header {
    width: 95%;
    height: 95%;
    padding: 1rem;
    border-radius: 2rem;
}

.content {
    background-color: rgb(75, 41, 2);
    min-height: 300px;
    padding: 20px;
}

.footer {
    background-color: rgb(75, 41, 2);
    min-height: 150px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.copy {
    font-size: 0.5rem;
}
